
<mat-card>
    <mat-card-header >
        <mat-card-title>Stores</mat-card-title>
        <mat-card-subtitle>Stores</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>
          <p *ngIf="!stores"><em>Loading...</em></p>
        <button mat-flat-button color="primary" class="btn-add" *ngIf="stores" (click)="openDialog()"> Add a new Store</button>

    
        <table mat-table [dataSource]="stores" class="mat-elevation-z8" >
        
            <!-- Index Column -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef >No</th>
                <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef >{{ 'FORM.NAME' | translate }}</th>
                <td mat-cell *matCellDef="let store">
                    {{store.name}}
                </td>
            </ng-container>
        
            <!-- Addres Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef >{{ 'StoreKeeper.Address' | translate }}</th>
                <td mat-cell *matCellDef="let store">{{store.address}}</td>
            </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>{{ 'FORM.ACTION' | translate }}</th>
                <td mat-cell *matCellDef="let store">
                  <button mat-icon-button color="primary" aria-label="Edit" (click)="openDialog(store.storeId)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(store.storeId)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    
</mat-card>

<mat-paginator [hidden]="!stores" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

<!-- Pagination directive -->
