<!-- <div class="dashboard-container">
    <h1 class="dashboard-title">Stock Management Dashboard</h1>
  
    <div class="chart-section">
      <h2 class="chart-title">Stock Summary</h2>
      <app-stock-summary-chart></app-stock-summary-chart>
    </div>
  
    <div class="chart-section">
      <h2 class="chart-title">Stock Transactions</h2>
      <app-stock-transaction-chart></app-stock-transaction-chart>
    </div>
  
    <div class="chart-section">
      <h2 class="chart-title">Store Performance</h2>
      <app-store-performance-chart></app-store-performance-chart>
    </div>
  
    <div class="chart-section">
      <h2 class="chart-title">Item Transaction History</h2>
      <app-item-transaction-history-chart></app-item-transaction-history-chart>
    </div>
  </div>
   -->