<h1 mat-dialog-title>{{ title }}</h1>
<p *ngIf="id && !storeKeeper"> <em>Loading...</em></p> 
<div  mat-dialog-content>

    <form [formGroup]="form"  (ngSubmit)="onSubmit()">
        <p>
            <mat-error *ngIf=" form.invalid && form.hasError('isDupeStoreKeeper')">
                    <strong> ERROR </strong>:
                    {{ "others.already_exist" | translate }}
            </mat-error>
        </p>

        
  <table class="example-full-width" cellspacing="0">
    <tr>
    <td> 
        <mat-form-field>
            <mat-label>{{ "FORM.NAME" | translate }}:</mat-label>
            <input matInput formControlName="name" required placeholder="{{ 'FORM.NAME' | translate }}">

            <mat-error *ngIf=" form.controls['name'].errors?.['required']">
                {{ 'FORM.NAME_REQUIRED' | translate }}
            </mat-error>

        </mat-form-field>
    </td>
    <td>
        <mat-form-field>
            <mat-label>{{ "FORM.NAME" | translate }}(amharic):</mat-label>
            <input matInput formControlName="nameAm" required placeholder="{{ 'FORM.NAME' | translate }}">

            <mat-error *ngIf=" form.controls['nameAm'].errors?.['required']">
                {{ 'FORM.NAME_REQUIRED' | translate }}
            </mat-error>

        </mat-form-field>
    </td>
    </tr>
  </table>
       

        <mat-form-field>
            <mat-label>{{ 'StoreKeeper.Email' | translate }}:</mat-label>
            <input matInput formControlName="email" required placeholder="{{ 'StoreKeeper.Email_Placeholder' | translate }}">

            <mat-error *ngIf=" form.controls['email'].errors?.['required']">
                {{ 'StoreKeeper.Email_Placeholder' | translate }}
            </mat-error>
            
            <mat-error *ngIf="form.controls['email'].errors?.['email']">
                {{ 'StoreKeeper.Email_INVALID' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="stores">
            <mat-label>{{ 'Transaction.select_a_store' | translate }}:</mat-label>
            <mat-select id="storeId" formControlName="storeId">
                <mat-option *ngFor="let store of stores" [value]="store.storeId">
                    {{store.name}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf=" form.controls['storeId'].errors?.['required']">
                {{ 'Store.STORE_REQUIRED' | translate }}
            </mat-error>

        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">{{ getButtonLabel() | translate }}</button>
    <button mat-button class="btn" (click)="onCancel()">{{ 'FORM.CANCEL' | translate }}</button>
  </div>
  