<h1>{{title}}</h1>
<p *ngIf="id && !storeKeeper"> <em>Loading...</em></p> 
<div class="storekeepre-Edit">

    <form [formGroup]="form"  (ngSubmit)="onSubmit()">
        
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput formControlName="name" required placeholder="Type a name">

            <mat-error *ngIf=" form.controls['name'].errors?.['required']">
              Name is Required
            </mat-error>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" required placeholder="Type a Email">

            <mat-error *ngIf=" form.controls['email'].errors?.['required']">
               Email is Required
            </mat-error>

        </mat-form-field>

        <mat-form-field *ngIf="stores">
            <mat-label>Select a Store :</mat-label>
            <mat-select id="storeId" formControlName="storeId">
                <mat-option *ngFor="let store of stores" [value]="store.storeId">
                    {{store.name}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf=" form.controls['storeId'].errors?.['required']">
               Store is Required
            </mat-error>

        </mat-form-field>

        <div>
            <button mat-flat-button type="submit" color="primary" [disabled]="!form.valid">{{this.id ? "Save" : "Create"}}</button>
            <!-- <button mat-flat-button [hidden]="!id" (click)="onDelete()" color="warn">Delete</button> -->
            <button mat-stroked-button type="submit" color="secondary" [routerLink]="['/storekeppers']">Cancel</button>        </div>
    </form>
</div>