.form-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.btn {
  background-color: #cfcdcd;

  &:hover {
    background-color: #999999;
  }
}