
<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      <mat-error *ngIf=" form.invalid && form.hasError('isDupeItem')">
              <strong> ERROR </strong>:
              {{ "others.already_exist" | translate }}
      </mat-error>
  </p>
    <mat-form-field>
        <mat-label>{{ 'FORM.NAME' | translate }}:</mat-label>
        <input matInput formControlName="name" required placeholder="{{ 'FORM.DESCRIPTION' | translate }}">
        <mat-error *ngIf=" form.controls['name'].errors?.['required']">
          {{ 'FORM.NAME_REQUIRED' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
            <mat-label>{{ 'FORM.DESCRIPTION' | translate }}:</mat-label>
            <input matInput formControlName="description" required placeholder="{{ 'FORM.DESCRIPTION_PLACEHOLDER' | translate }}">
            <mat-error *ngIf=" form.controls['description'].errors?.['required']">
              {{ 'FORM.DESCRIPTION_REQUIRED' | translate }}
            </mat-error>
     </mat-form-field>

     <mat-form-field *ngIf="categories">
        <mat-label>{{ 'Transaction.select_a_category' | translate }} :</mat-label>
        <mat-select id="categoryId" formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.categoryId">
                {{category.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf=" form.controls['categoryId'].errors?.['required']">
          {{ 'Category.Category_Name_Placeholder' | translate }}
        </mat-error>
    </mat-form-field>
     <!-- plate data display here -->
    <mat-form-field>
      <mat-label>{{ 'FORM.NAME' | translate }}: major</mat-label>
      <input matInput formControlName="majorId" placeholder="{{ 'FORM.DESCRIPTION' | translate }}">
      <mat-error *ngIf="form.controls['majorId'].errors?.['required']">
        {{ 'FORM.NAME_REQUIRED' | translate }}
      </mat-error>
  </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'FORM.NAME' | translate }}: minor</mat-label>
      <input matInput formControlName="minorId" placeholder="{{ 'FORM.DESCRIPTION' | translate }}">
      <mat-error *ngIf="form.controls['minorId'].errors?.['required']">
        {{ 'FORM.NAME_REQUIRED' | translate }}
      </mat-error>
  </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'FORM.NAME' | translate }}: plateNumber </mat-label>
      <input matInput formControlName="plateNumber" placeholder="{{ 'FORM.DESCRIPTION' | translate }}">
      <mat-error *ngIf="form.controls['plateNumber'].errors?.['required']">
        {{ 'FORM.NAME_REQUIRED' | translate }}
      </mat-error>
  </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'FORM.NAME' | translate }}: plateSizeId </mat-label>
      <input matInput formControlName="plateSizeId"  placeholder="{{ 'FORM.DESCRIPTION' | translate }}">
      <mat-error *ngIf="form.controls['plateSizeId'].errors?.['required']">
        {{ 'FORM.NAME_REQUIRED' | translate }}
      </mat-error>
  </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'FORM.NAME' | translate }}: plateRegionId </mat-label>
      <input matInput formControlName="plateRegionId"  placeholder="{{ 'FORM.DESCRIPTION' | translate }}">
      <mat-error *ngIf="form.controls['plateRegionId'].errors?.['required']">
        {{ 'FORM.NAME_REQUIRED' | translate }}
      </mat-error>
  </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">{{ getButtonLabel() | translate }}</button>
  <button mat-button class="btn" (click)="onCancel()">{{ 'FORM.CANCEL' | translate }}</button>
</div>
