<p>item works!</p>
<h1>Items</h1>
<p>Here's a list of cities: feel free to play with it.</p>
<p *ngIf="!items"><em>Loading...</em></p>
<table mat-table [dataSource]="items"
class="mat-elevation-z8"
 [hidden]="!items">
<!-- Id Column -->
<ng-container matColumnDef="id">
<th mat-header-cell *matHeaderCellDef>ID</th>
<td mat-cell *matCellDef="let item">{{item.id}}</td>
</ng-container>
<!-- Name Column -->
<ng-container matColumnDef="name">
<th mat-header-cell *matHeaderCellDef>Name</th>
<td mat-cell *matCellDef="let item">{{item.name}}</td>
</ng-container>
<!-- Lat Column -->
<ng-container matColumnDef="description">
<th mat-header-cell *matHeaderCellDef>description</th>
<td mat-cell *matCellDef="let item">{{item.description}}</td>
</ng-container>
<!-- Lon Column -->
<ng-container matColumnDef="quantity">
<th mat-header-cell *matHeaderCellDef>quantity</th>
<td mat-cell *matCellDef="let item">{{item.quantity}}</td>
</ng-container>
<!-- Lon Column -->
<ng-container matColumnDef="availability">
    <th mat-header-cell *matHeaderCellDef>availability</th>
    <td mat-cell *matCellDef="let item">{{item.availability}}</td>
    </ng-container>
    <!-- Lon Column -->
<ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef>categoryName</th>
    <td mat-cell *matCellDef="let item">{{item.categoryName}}</td>
    </ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Pagination directive -->
<mat-paginator [hidden]="!items"
(page)="getData($event)"
 [pageSize]="10"
 [pageSizeOptions]="[10]"
showFirstLastButtons></mat-paginator>

