table.mat-table { 
    width: 100%; 
    } 

 mat-form-field {
        font-size: 14px;
        width: 100%;
      }
 .btn-add { 
        float: right; 
        } 
h1{
            margin-left:  40%;
            
        }
.btn-add { 
            float: right; 
            } 