table.mat-table {
  width: 100%;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}
:host ::ng-deep .mat-form-field-wrapper{
  margin: 0 !important;
  padding: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.header-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.subtitle {
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.search-field {
  max-width: fit-content;
  flex: 2;
  margin: 0 16px;
  border-radius: 12px; /* Rounded corners */
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  overflow: hidden; /* Ensures rounded corners */

}



.my-icon {
  color: black;
  margin-right: 8px;
  font-size: 24px; /* Adjust icon size if needed */
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0; /* Removes padding for better alignment */
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0; /* Removes padding for better alignment */
}

.mat-form-field.search-field.mat-mdc-form-field-subscript-wrapper,
.mat-form-field.search-field.mat-mdc-form-field-bottom-align {
  /* Override any unwanted styles here */
  padding-bottom: 0; /* Example of overriding padding */
  margin-bottom: 0; /* Example of overriding margin */
}

.btn-add {
  white-space: nowrap;
}

