<h1>Transactions</h1>
<p *ngIf="!transactions"><em>Loading...</em></p>
<table mat-table [dataSource]="transactions" class="mat-elevation-z8"
[hidden]="!transactions">>

<!-- Id Column -->
<ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef  >No</th>
    <td mat-cell *matCellDef="let transactions; let i = index;">{{i+1}}</td>
  </ng-container>
<!-- Name Column -->
<ng-container matColumnDef="transactionType">
<th mat-header-cell *matHeaderCellDef>transactionType</th>
<td mat-cell *matCellDef="let transaction">{{transaction.transactionType}}</td>
</ng-container>
<ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef>itemName</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.itemName}}</td>
    </ng-container>

<ng-container matColumnDef="storeName">
    <th mat-header-cell *matHeaderCellDef>storeName</th>
    <td mat-cell *matCellDef="let transaction">{{transaction.storeName}}</td>
    </ng-container>

    <ng-container matColumnDef="storeKeeperName">
        <th mat-header-cell *matHeaderCellDef>storeKeeperName</th>
        <td mat-cell *matCellDef="let transaction">{{transaction.storeKeeperName}}</td>
        </ng-container>

        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>userName</th>
            <td mat-cell *matCellDef="let transaction">{{transaction.userName}}</td>
            </ng-container>
            
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
              
                <td mat-cell *matCellDef="let transaction">
                    <button mat-stroked-button type="submit" color="primary" [routerLink]="['/transaction', transaction.transactionId]">
                        <mat-icon>edit</mat-icon>
        
                    </button>  
                  
                    <button mat-stroked-button type="submit" color="warn" (click)="onDelete()">
                        <mat-icon>delete</mat-icon>
                    </button>      
                 
                </td>
            </ng-container>

<ng-container matColumnDef="quantity">
<th mat-header-cell *matHeaderCellDef>quantity</th>
<td mat-cell *matCellDef="let transaction">{{transaction.quantity}}</td>
</ng-container> 

<!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let transaction">
            <button mat-stroked-button type="submit" color="primary" [routerLink]="['/transaction', transactions.transactionId]">
                edit
                  
            </button>  
          
            <button mat-stroked-button type="submit" color="warn" (click)="onDelete()">
                 delete
            </button>      
         
        </td>
    </ng-container>
  -->
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Pagination directive -->


