<div class="container">
  <h3> {{ "others.View_Transaction_Details" | translate }}</h3>

  <div>
    <label> <b> {{ "Transaction.transaction_type" | translate }}: </b></label> {{transaction.transactionType}}
</div>
    <div>
        <label> <b> {{ "Generals.Item_Name" | translate }}: </b></label> {{transaction.itemName}}
    </div>
    <div>
        <label> <b> {{ "Generals.Store_Name" | translate }}: </b></label> {{transaction.storeName}}
    </div>
    <div>
        <label> <b> {{ "Generals.Store_Keeper_Name" | translate }}: </b></label> {{transaction.storeKeeperName}}
    </div>
    <div>
        <label> <b> {{ "Transaction.pad_number_start" | translate }}: </b></label> {{transaction.padNumberStart}}
    </div>  
    <div>
        <label> <b> {{ "Transaction.pad_number_end" | translate }}: </b></label> {{transaction.padNumberEnd}}
    </div>   
    <div>
      <label> <b> {{ "Transaction.quantity" | translate }}: </b></label> {{transaction.quantity}}
  </div>
  <button mat-flat-button color="primary" (click)="onCancel()">{{ 'FORM.CANCEL' | translate }}</button>
</div>
