<mat-card>
    <mat-card-header>
      <mat-card-title>{{ "Generals.Transaction" | translate }}</mat-card-title>
      <mat-card-subtitle>{{ "Generals.Transaction" | translate }}</mat-card-subtitle>
      <mat-form-field [hidden]="!transactions" >
        <input matInput #filter (keyup)="onFilterTextChanged(filter.value)"
                placeholder="{{ 'others.Filter_By_Name' | translate }}">
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="!transactions"><em>{{ 'others.Loading' | translate }}...</em></p>

      <mat-radio-group [(ngModel)]="selectedTransactionType" (change)="onTransactionTypeChanged()">
        <mat-radio-button *ngFor="let type of transactionTypes" [value]="type">{{ type }}</mat-radio-button>
      </mat-radio-group>
      
      <table mat-table [dataSource]="transactions" class="mat-elevation-z8" 
        matSort 
        (matSortChange)="loadData()"
        [matSortActive]="defaultSortColumn"
        [matSortDirection]="defaultSortOrder" >
        <!-- Id Column -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "others.No" | translate }}</th>
          <td mat-cell *matCellDef="let transactions; let i = index;">{{i + 1}}</td>
        </ng-container>
  
        <!-- Transaction Type Column -->
        <ng-container matColumnDef="transactionType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="transactionType">{{ "Generals.Transaction_Type" | translate }}</th>
          <td mat-cell *matCellDef="let transaction" [ngClass]="{'issue-transaction': transaction.transactionType === 'Issue', 'receipt-transaction': transaction.transactionType === 'Receipt','damaged-transaction': transaction.transactionType === 'Damaged'}">
            <mat-icon *ngIf="transaction.transactionType === 'Receipt'" class="receipt-icon" aria-hidden="true">arrow_downward</mat-icon>
            <mat-icon *ngIf="transaction.transactionType === 'Issue'" class="issue-icon" aria-hidden="true">arrow_upward</mat-icon>
            <mat-icon *ngIf="transaction.transactionType === 'Damaged'" class="damaged-icon" aria-hidden="true">arrow_upward</mat-icon>
            {{transaction.transactionType}}
          </td>
        </ng-container>
        <!-- Item Name Column -->
        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Generals.Item_Name" | translate }}</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.itemName}}</td>
        </ng-container>
  
        <!-- Store Name Column -->
        <ng-container matColumnDef="storeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Generals.Store_Name" | translate }}</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.storeName}}</td>
        </ng-container>
  
        <!-- Store Keeper Name Column -->
        <ng-container matColumnDef="storeKeeperName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ "Generals.Store_Keeper_Name" | translate }}</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.storeKeeperName}}</td>
        </ng-container>
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Transaction.quantity' | translate }}</th>
          <td mat-cell *matCellDef="let transaction">{{transaction.quantity}}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>{{ 'FORM.ACTION' | translate }}</th>
          <td mat-cell *matCellDef="let transaction">
            <button mat-stroked-button type="submit" color="primary" (click)="openDialog(transaction.stockTransactionId)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="black" (click)="onRead(transaction.stockTransactionId)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-stroked-button type="submit" color="warn" (click)="onDelete(transaction.stockTransactionId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    
  </mat-card>
  
<!-- Pagination directive -->
<mat-paginator [hidden]="!transactions"
               (page)="getData($event)"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20, 50]"
               showFirstLastButtons></mat-paginator>  