<div class="container">
  <h3> View Transaction Details</h3>

  <div>
    <label> <b> Transaction Type: </b></label> {{transaction.transactionType}}
</div>
    <div>
        <label> <b> Item Name: </b></label> {{transaction.itemName}}
    </div>
    <div>
        <label> <b> Store Name: </b></label> {{transaction.storeKeeperName}}
    </div>
    <div>
        <label> <b> Store Keeper Name: </b></label> {{transaction.storeKeeperName}}
    </div>
    <div>
        <label> <b> Pad NO start: </b></label> {{transaction.padNumberStart}}
    </div>  
    <div>
        <label> <b> Pad No end: </b></label> {{transaction.padNumberEnd}}
    </div>   
    <div>
      <label> <b> Quantity: </b></label> {{transaction.quantity}}
  </div>
</div>
