<mat-card>
  <mat-card-header>
    <mat-form-field [hidden]="!stockDetail">
      <input
        matInput
        #filter
        (keyup)="onFilterTextChanged(filter.value)"
        placeholder="{{'others.Filter_By_Name' | translate}}"
      />
    </mat-form-field>
  </mat-card-header>

  <mat-card-content style="max-height: 400px; overflow: auto">
    <table
      mat-table
      [dataSource]="stockDetail"
      class="mat-elevation-z8"
      matSort
      (matSortChange)="loadData()"
      [matSortActive]="defaultSortColumn"
      [matSortDirection]="defaultSortOrder"
    >
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>{{'others.No' | translate}}</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ defaultPageIndex * defaultPageSize + i + 1 }}
        </td>
      </ng-container>

      <!-- StoreName Column -->
      <ng-container matColumnDef="storeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Generals.Store_Name' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{ element.storeName }}</td>
      </ng-container>

      <!-- itemName Column -->
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Generals.Item_Name' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{ element.itemName }}</td>
      </ng-container>

      <!-- PadNumber Column -->
      <ng-container matColumnDef="prefix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'others.prefix' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{ element.prefix }}</td>
      </ng-container>
            
      <!-- PadNumber Column -->
      <ng-container matColumnDef="padNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Transaction.pad_number' | translate}}</th>
        <td mat-cell *matCellDef="let element">{{ element.padNumber }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
<button mat-button class="btn" (click)="onCancel()">
  {{ "FORM.CANCEL" | translate }}
</button>

<!-- Pagination directive -->
<mat-paginator
  [hidden]="stockDetail"
  (page)="getData($event)"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20, 50]"
  showFirstLastButtons
></mat-paginator>
