<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>dashboard</mat-icon>
        {{'others.home' | translate}}
      </a>
      <a mat-list-item routerLink="/categories">
        <mat-icon>category</mat-icon>
        {{ 'others.Categories' | translate  }}
      </a>
      <a mat-list-item routerLink="/items">
        <mat-icon>inventory</mat-icon>
        {{ 'others.Items' | translate  }}
      </a>
      <a mat-list-item routerLink="/store">
        <mat-icon>store</mat-icon>
        {{ 'others.Stores' | translate  }}
      </a>
      <a mat-list-item routerLink="/storekeppers">
        <mat-icon>person</mat-icon>
        {{ 'others.Store_Keepers' | translate  }}
      </a>
      <a mat-list-item (click)="openTransactionDialog(transactionType.Issue)" >
        <mat-icon>assignment_return</mat-icon>
        {{ 'others.Issue' | translate  }}
      </a>
      <a mat-list-item (click)="openTransactionDialog(transactionType.Receipt)">
        <mat-icon>receipt</mat-icon>
        {{ 'others.Receipt' | translate  }}
      </a>
      <a mat-list-item (click)="openTransactionDialog(transactionType.Damaged)">
        <mat-icon>Damaged</mat-icon>
        {{ 'others.Damaged' | translate  }}
      </a>
      <a mat-list-item (click)="openTransactionDialog(transactionType.Return)">
        <mat-icon>restore</mat-icon>
        {{ 'others.Return' | translate  }}
      </a>
      <a mat-list-item routerLink="/transaction">
        <mat-icon>swap_vertial_circle 
        </mat-icon>
        {{ 'others.Transaction' | translate  }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <header>
      <mat-toolbar color="primary" >
            <button mat-icon-button (click)="toggleSidenav()">
              <mat-icon>menu</mat-icon>
            </button>
        
            <span class="mx-2" >
              <h3 style="font-size:20px" >{{ "others.Stock_Mangement" | translate }}</h3>
            </span>

              <span class="spacer"></span>  

            <mat-select class="language-select" placeholder="Language" [(value)]="selectedLanguage" (selectionChange)="switchLanguage(selectedLanguage)">
              <mat-option value="am">{{ "others.Amharic" | translate }}</mat-option>
              <mat-option value="en">{{ "others.English" | translate }}</mat-option>
              <mat-option value="or">Afan Oromo</mat-option>
            </mat-select>

            <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-menu-trigger">
              <mat-icon>account_circle</mat-icon>
            </button>

            <mat-menu #profileMenu="matMenu">
              <button mat-menu-item [routerLink]="['/profile']">
                <mat-icon>person</mat-icon>
                <span>{{ "others.Profile" | translate }}</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>{{ "others.Logout" | translate }}</span>
              </button>
            </mat-menu>
            
      </mat-toolbar>
    </header>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
       