<header>
    <mat-toolbar color="primary">
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>
          home
        </mat-icon>
      </button>
      <a mat-flat-button color="primary" [routerLink]="['/category']">
       Category
      </a>
      
      <a mat-flat-button color="primary" [routerLink]="['/items']">
        Items
       </a>

       <a mat-flat-button color="primary" [routerLink]="['/store']">
        Stores
       </a>

       <a mat-flat-button color="primary" [routerLink]="['/storekeppers']">
        Store keeper
       </a>
      
    </mat-toolbar>
  </header>